body {
  background-image: url(../img/vegpizza.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  text-align: center;
  color: #153801;
  background-color: #FFF0DA;
  border: 2px solid #153801;
}

#order-review, #order-confirmation {
  display: none;
}

.card {
  background-color: #FFF0DA;
  margin-top: 0px;
  padding: 10px;
  border: 2px solid #153801;
}

button.btn {
  width: 100%;
  margin-top: 20px;
  border: 2px solid #153801;
  color: #153801;
  background-color: #FFF0DA;
  font-weight: bold;
  font-size: medium;
}

button.btn:hover {
  width: 100%;
  margin-top: 20px;
  color: #FFF0DA;
  background-color: #153801;
  font-weight: bold;
  font-size: medium;
}
