html, body {
  height: 100%;
  background:url(../img/margpizza.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.jumbotron {
  margin-top: 2%;
  text-align: center;
  color: rgb(45, 119, 2);
  background-color: #FFF0DA;
  border: 2px solid rgb(45, 119, 2);
  padding: 1rem 0.5rem;
}

.jumbotron h1 {
  font-weight: bold;
  -webkit-text-stroke: 1.25px #111111;
  color: rgb(90, 2, 2);
}

.jumbotron h2 {
  font-size: large;
}

#order-review, #order-confirmation, #delivery-details, #no-delivery {
  display: none;
}

.card {
  background-color: #FFF0DA;
  margin-top: 0px;
  padding: 20px;
  border: 2px solid rgb(45, 119, 2);
}

#order-confirmation, #no-delivery {
  text-align: center;
}

h4 {
  color: rgb(45, 119, 2);
  text-decoration: underline;
  text-decoration-color: rgb(45, 119, 2);
}

.form-group h4 {
  margin-top: 10px;
}

button.btn {
  width: 100%;
  margin-top: 20px;
  border: 2px solid rgb(45, 119, 2);
  color: rgb(45, 119, 2);
  background-color: #FFF0DA;
  font-weight: bold;
  font-size: medium;
}

button.btn:hover {
  width: 100%;
  margin-top: 20px;
  color: #FFF0DA;
  background-color: rgb(45, 119, 2);
  font-weight: bold;
  font-size: medium;
}

a {
  color: rgb(45, 119, 2);
  font-weight: bold;
}

a:hover {
  color: rgb(45, 119, 2);
  text-decoration: underline;
  text-decoration-color: rgb(45, 119, 2);
}

img {
  width: 200px;
  height: auto;
  margin-left: 40%;
  margin-top: 3%;
}

.purchase-delivery {
  font-style: italic;
  margin-top: 5px;
  text-align: center;
  color: rgb(45, 119, 2);
}