body {
  background-image: url(../img/vegpizza.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  margin-top: 2%;
  text-align: center;
  color: #153801;
  background-color: #FFF0DA;
  border: 2px solid #153801;
}

.jumbotron h2 {
  font-size: large;
}

#order-review, #order-confirmation, #delivery-details, #no-delivery {
  display: none;
}

.card {
  background-color: #FFF0DA;
  margin-top: 0px;
  padding: 10px;
  border: 2px solid #153801;
}

#order-confirmation {
  text-align: center;
}

h3 {
  color: #153801;
}

.form-group h3 {
  margin-top: 10px;
}

button.btn {
  width: 100%;
  margin-top: 20px;
  border: 2px solid #153801;
  color: #153801;
  background-color: #FFF0DA;
  font-weight: bold;
  font-size: medium;
}

button.btn:hover {
  width: 100%;
  margin-top: 20px;
  color: #FFF0DA;
  background-color: #153801;
  font-weight: bold;
  font-size: medium;
}

a {
  color: #153801;
  font-weight: bold;
}

a:hover {
  color: #153801;
  text-decoration: underline;
  text-decoration-color: #153801;
}